{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div class="mb-3 form-check">
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div>
    {% endif %}
    {% set messages = app.flashes %}
    {% for message in messages %}
    <div class="mb-3 form-check">
        <div class="alert alert-success">
            {{ message[0] }}
        </div>
    </div>
    {% endfor %}
    {% if app.user %}
        <div class="mb-3 form-check">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="mb-3 form-check">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    </div>
    <div class="mb-3 form-check">
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="mb-3 form-check">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="mb-3 form-check">
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    </div>
</form>
{% endblock %}
