<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ path('app_home_page') }}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
    {% if not app.user %}
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2"><a href="{{ path('app_login') }}">Login</a></button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    {% else %}
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2"><a href="{{ path('app_logout') }}">Logout</a></button>
        </div>
    {% endif %}
</header>